.milkshake-title {
  text-align: center;
  color: #a85807;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

.milkshake-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.milkshake-card {
  width: 220px;
  padding: 15px;
  border: 1px solid #0a0a0a;
  border-radius: 10px;
  background-color: #faf9f9;
  box-shadow: 0 2px 5px rgba(253, 252, 252, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.milkshake-card:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 8px rgba(250, 247, 247, 0.2);
}

.milkshake-img {
  width: 100%;
  height: 130px;
  border-radius: 8px;
  object-fit: cover;
}

.milkshake-desc {
  font-size: 14px;
  color: #555;
  margin: 8px 0;
}

.milkshake-card button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #080808;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.milkshake-card button:hover {
  background-color: #ad4b1a;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 8px 12px;
  margin: 4px;
  border: none;
  background-color: #c97d0c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.pagination button:hover {
  background-color: #d68910;
}

.active-page {
  background-color: #e67e22 !important;
}
